# Task 2

This task is primarily concerned with multi-class classification where you have 3 classes. However, original image features are changed the in several ways. It is needed to deal with class imbalance; in the training set, there are 600 examples from class 0 and 2 but 3600 examples from class 1. Test set has the same class imbalance as the training set.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.metrics import balanced_accuracy_score
from sklearn.svm import SVC

### Load Data

In [4]:
X_train = pd.read_csv("X_train.csv", index_col=0)  # , header=None, names=['x1','x2'])
y_train = pd.read_csv("y_train.csv", index_col='id')  # , header=None, names=['y'])
X_test = pd.read_csv("X_test.csv", index_col='id')  # , header=None, names=['x1','x2'])

In [5]:
X_train.describe()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x990,x991,x992,x993,x994,x995,x996,x997,x998,x999
count,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,...,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000
mean,-0.403221,0.220492,1.106921,0.068664,0.279619,0.388415,0.236717,-0.152921,0.432778,-0.752647,...,0.673128,-0.444427,0.448460,-0.693521,0.540356,-0.729529,0.395605,0.440266,1.240888,0.937046
std,0.663232,0.764817,0.794665,0.888101,0.690293,0.628839,0.625738,0.782704,0.568082,0.573664,...,0.866030,0.706408,0.786608,1.033146,0.707031,0.729511,0.584042,0.574004,0.668117,0.884328
min,-3.026434,-2.177817,-0.993103,-2.958118,-1.992190,-2.229151,-1.620785,-3.842304,-2.046807,-3.980367,...,-1.351814,-3.587288,-2.027416,-4.932804,-1.548640,-3.720113,-1.686527,-2.076105,-1.547162,-1.861970
25%,-0.827374,-0.306275,0.518833,-0.604431,-0.180091,-0.002606,-0.188781,-0.681943,0.096057,-1.084700,...,0.027572,-0.854477,-0.152561,-1.446615,0.039625,-1.209385,0.012024,0.107948,0.773387,0.276949
50%,-0.312958,0.084477,0.933785,-0.061674,0.199699,0.357911,0.147484,-0.049152,0.409125,-0.696674,...,0.473798,-0.344868,0.325952,-0.603889,0.457354,-0.640468,0.335444,0.454828,1.138441,0.752086
75%,0.076125,0.624882,1.585165,0.737608,0.644108,0.753130,0.612462,0.409195,0.752769,-0.361554,...,1.246985,0.048537,0.971055,0.111399,0.978256,-0.192801,0.727108,0.792661,1.625235,1.549565
max,1.769423,4.102255,4.946383,3.461174,3.682944,3.209605,3.303836,2.223731,3.235681,0.823849,...,5.333272,1.840349,3.701539,2.378358,3.393483,2.271806,3.589027,2.841595,5.489396,4.947546

In [6]:
y_train.describe()

                 y
count  4800.000000
mean      1.000000
std       0.500052
min       0.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       2.000000

In [ ]:
y_train = y_train["y"].to_numpy()
X_train = X_train.to_numpy()
X_test = X_test.to_numpy()

### Training

In [ ]:
Cs = [0.01, 0.1, 1.0, 10, 1000]

In [ ]:
# Do CV
# for C in Cs:
# print(C)
for train_index, test_index in kf.split(X_train):
    X_trn, X_tst = X_train[train_index, :], X_train[test_index, :]
    y_trn, y_tst = encode(y_train[train_index]), encode(y_train[test_index])
    clf = SVC(C=1.0, kernel='rbf', gamma='scale', class_weight='balanced', degree=3)
    clf.fit(X_trn, np.argmax(y_trn, axis=1))
    predicted = clf.predict(X_tst)
    score = balanced_accuracy_score(np.argmax(y_tst, axis=1), predicted)
    print(score)

In [ ]:
y_train = encode(y_train)
clf = SVC(C=1.0, kernel='rbf', gamma='scale', class_weight='balanced', degree=3)
clf.fit(X_train, np.argmax(y_train, axis=1))

### Prediction

In [ ]:
predicted = clf.predict(X_test)
ids = np.arange(0, len(predicted))

In [ ]:
output = pd.DataFrame({'id': ids,
                        'y': predicted})
output.to_csv("output.csv", index=False)
print("Done")